name: CI Test

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1) Репозиторийді жүктеу
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2) Репозиторийдегі файлдарды шығару
      - name: List repository files
        run: ls -la
